:root {
  --dark-black: rgb(20, 20, 20);
  --soft-black: rgb(31, 31, 31);
  --gray: rgb(51, 51, 51);
  --white: rgb(255, 255, 255);
  --lemon-green: rgb(184, 205, 104);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dark-black);
}
