:root {
  --grey-900: rgb(20, 20, 20);
  --grey-800: rgb(31, 31, 31);
  --grey-700: rgb(51, 51, 51);
  --white: rgb(255, 255, 255);
  --green: rgb(184, 205, 104);
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

h1 {
  color: var(--white);
  margin-bottom: 0;
}

h3 {
  color: var(--green);
}

p {
  color: var(--white);
}

.container {
  height: 600px;
  width: 400px;
  background-color: var(--grey-800);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 40px 0;
  height: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: var(--grey-700);
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}
